<div class="container">
    <div class="row pt-3">
        {{#each info}}
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                            <h2> Nombre del Contacto : </h2>
                        </div>
                        {{nombre}} {{apellido}}
                        <div class="card-title">
                            <h4>Empresa : </h4>{{empresa}}
                        </div>
                        <div class="card-title">
                            <h4> Telefono : </h4>{{telefono}}
                        </div>
                        <div class="card-title">
                            <h4>Email : </h4>{{email}}
                        </div>
                        <div class="card-title">
                            <h4>Asunto: </h4>{{mensaje}}
                        </div>
                        <div class="card-title">
                            <h6>Enviado hace : </h6>{{timeago send_at}}
                        </div>
                </div>
                        <button class=" d-grid gap-2 btn btn-danger me-3 ms-3 mt-2 mb-2">Eliminar</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>